* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  overflow-y: scroll;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ddd;
  color: #333;
}

header {
  background: #3688ae;
  padding-top: 10px;
  color: #fff;
  height: 60px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, .1);
}

button,
button:focus,
button:active,
button:hover {
  background: transparent;
  cursor: pointer;
  border: none;
}

i {
  cursor: pointer;
}

input {
  font-size: inherit;
  color: inherit;
  font-family: inherit;
  border: 1px solid #ccc;
  background: #eee;
  padding: 5px 0 5px 2rem;
  border-radius: 5px;
  width: 200px;
}

.container {
  margin: auto;
  max-width: 600px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-plus-circle {
  font-size: 2rem;
}

.contact {
  padding: 20px;
  max-width: 600px;
  margin: 30px auto;
  border-radius: 5px;
  background: #efefef;
  border: 1px solid rgb(201, 201, 201);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, .1);
}

.contact h3 {
  color: #3688ae;
  padding-left: 10px;
}

.contact i {
  padding-left: 5px;
}

.NewCont {
  display: flex;
  justify-content: space-between;
}


.contact i:last-child {
  color: #e7326f;
  float: right;
}


.contact ul {
  padding-top: 10px;
}

.contact li {
  /* background: #eee; */
  margin: 5px;
  padding: 15px;
  list-style: none;
  border-radius: 2px;
  border: 1px solid rgb(187, 187, 187);
}